@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&subset=japanese');

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: 'M PLUS 1p', sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

.el-container {
  background: #3c3a33;
  width: 100vw;
  height: 100vh;
}
